.main-container {
  padding: 20px;
}

.csv-card {
  border: 1px solid;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  position: relative;
}

.asd {
  padding: 20px;
  flex-grow: 1;
}

.asd:first-child {
  margin-right: 40px;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.compare-btn {
  height: 38px;
}


.csv-card-label {
  position: absolute;
  top: -14px;
  left: 14px;
  background-color: white;
  padding: 0 6px;
}

.input-file {
  opacity: 0;
  font-size: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 2;
}
