<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Paymentology CSV</title>
  <link href="#" rel="shortcut icon">
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
  <script th:src="@{/bootstrap/js/jquery-3.6.3.min.js}" type="text/javascript"></script>
  <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <script th:src="@{/js/main.js}" type="text/javascript"></script>
</head>
<body>
<div class="container main-container">
  <!-- Content here -->

  <div class="alert alert-danger alert-dismissible  show" th:if="${errorMessage}">
    <div class="" th:text="${errorMessage}"></div>
    <button class="btn-close" data-bs-dismiss="alert" type="button"></button>
  </div>

  <form class="needs-validation" enctype="multipart/form-data" method="post" novalidate th:action="@{/compare}">
    <div class="csv-card d-flex align-items-end justify-content-between">
      <label class="csv-card-label">Select files to compare</label>
      <div>
        <div class="d-flex align-items-center mb-2">
          <div class="me-2"><p class="m-0">Select File 1</p></div>
          <div class="me-2">
            <input class="form-control" disabled id="leftFileInput" name="leftFileInput"
                   th:value="${leftFileName} ? ${leftFileName} : '' "
                   type="text">
          </div>
          <div>
            <button class="btn btn-primary position-relative" type="button">
              <input accept="text/csv" class="input-file" id="leftSource" name="leftSource" type="file">
              Browse
            </button>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <div class="me-2"><p class="m-0">Select File 2</p></div>
          <div class="me-2">
            <input class="form-control" disabled id="rightFileInput" name="rightFileInput"
                   th:value="${rightFileName} ? ${rightFileName} : '' "
                   type="text">
          </div>
          <div>
            <button class="btn btn-primary position-relative" type="button">
              <input accept="text/csv" class="input-file" id="rightSource" name="rightSource" type="file">
              Browse
            </button>
          </div>
        </div>
      </div>

      <div>
        <div class="d-flex align-items-center mb-2">
          <button class="btn btn-primary ms-2 compare-btn" type="submit">Compare</button>
          <a class="btn btn-primary ms-2" href="/">New</a>
        </div>
      </div>
    </div>
  </form>

  <div class="csv-card" th:if="${showCompareResult}">
    <label class="csv-card-label">Comparison results</label>

    <div class="d-flex justify-content-between">
      <div class="card asd">
        <div><p class="h2" th:text="${comparisonResult.leftResult.sourceName}"></p></div>

        <div class="d-flex align-items-center">
          <p class="mb-0 me-2 ellipsis w-50">Total Records:</p>
          <span th:text="${comparisonResult.leftResult.totalRecords}"></span>
        </div>
        <div class="d-flex align-items-center">
          <p class="mb-0 me-2 ellipsis w-50">Duplicate Records:</p>
          <span th:text="${comparisonResult.leftResult.duplicateRecords}"></span>
        </div>
        <div class="d-flex align-items-center">
          <p class="mb-0 me-2 ellipsis w-50">Matching Records:</p>
          <span th:text="${comparisonResult.leftResult.matchingRecords}"></span>
        </div>
        <div class="d-flex align-items-center">
          <p class="mb-0 me-2 ellipsis w-50">Unmatched Records:</p>
          <span th:text="${comparisonResult.leftResult.unmatchedRecords}"></span>
        </div>
      </div>

      <div class="card asd">
        <div><p class="h2" th:text="${comparisonResult.rightResult.sourceName}"></p></div>

        <div class="d-flex align-items-center">
          <p class="mb-0 me-2 ellipsis w-50">Total Records:</p>
          <span th:text="${comparisonResult.rightResult.totalRecords}"></span>
        </div>
        <div class="d-flex align-items-center">
          <p class="mb-0 me-2 ellipsis w-50">Duplicate Records:</p>
          <span th:text="${comparisonResult.rightResult.duplicateRecords}"></span>
        </div>
        <div class="d-flex align-items-center">
          <p class="mb-0 me-2 ellipsis w-50">Matching Records:</p>
          <span th:text="${comparisonResult.rightResult.matchingRecords}"></span>
        </div>
        <div class="d-flex align-items-center">
          <p class="mb-0 me-2 ellipsis w-50">Unmatched Records:</p>
          <span th:text="${comparisonResult.rightResult.unmatchedRecords}"></span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button class="btn btn-primary mt-2" id="unmatched-records-btn" type="button">
        Unmatched Records
      </button>
    </div>

    <div class="d-flex justify-content-end" th:if="${comparisonResult.hasDuplicates()}">
      <button class="btn btn-primary mt-2" id="duplicate-records-btn" type="button">
        Duplicate Records
      </button>
    </div>

  </div>

  <div class="csv-card" id="duplicate-records" style="display: none" th:if="${showDuplicates}">

    <label class="csv-card-label">Duplicate report</label>
    <div class="overflow-auto">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">File</th>
          <th scope="col">Transaction ID</th>
          <th scope="col">Reference</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dup: ${comparisonResult.duplicates}">
          <td th:text="${dup.sourceName}"/>
          <td th:text="${dup.tx.transactionId()}"/>
          <td th:text="${dup.tx.reference()}"/>
          <td th:text="${dup.tx.amount()}"/>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary mt-2" id="duplicate-records-hide" type="button">
        Hide
      </button>
    </div>
  </div>


  <div class="csv-card" id="unmatched-records" style="display: none" th:if="${showUnmatchedRecords}">

    <label class="csv-card-label">Unmatched report</label>
    <div class="overflow-auto">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col" th:text="${comparisonResult.leftResult.sourceName}"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col" th:text="${comparisonResult.rightResult.sourceName}"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Reference</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
          <th scope="col">Reference</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="untx: ${comparisonResult.unmatchedTransactions}">
          <td th:text="${untx.left.date()}"/>
          <td th:text="${untx.left.reference()}"/>
          <td th:text="${untx.left.amount()}"/>
          <td th:text="${untx.right.date()}"/>
          <td th:text="${untx.right.reference()}"/>
          <td th:text="${untx.right.amount()}"/>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary mt-2" id="unmatched-records-hide" type="button">
        Hide
      </button>
    </div>
  </div>

</div>
</body>
</html>
